
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    background: #F4F4F4;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 25px;
    color: black;
    font-weight: 700;
}

.sidebar-subtitle {
    color: #58BDE5;
    font-weight: bold;
}

.btn-primary {
    background: #58BDE5;
    border: none !important;
    box-shadow: 3px 3px 10px #58BDE5;
    transition: all .2s;
}

.btn-primary:hover {
    background: #58BDE5;
    transform: scale(1.05);
    box-shadow: 5px 5px 25px #58BDE5;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

a,.nav-link,a:hover,.nav-link:hover {
    color: #58BDE5;
}

.card {
    border: none;
}
.navbar {
    box-shadow: 5px 5px 10px rgba(0,0,0,.05);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #58BDE5;
    box-shadow: 2px 2px 10px #58BDE5;
}

.all-content-background {
    position: fixed;
    background-color: #58BDE5;
    top: 0;
    left: 0;
    right: 0;
    z-index: -3;
    height: 250px;
}

.footer {
    background-color: #DADDDD;
    padding: 10px 10px 10px 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-links > div {
    margin-right: 20px;  
}
